:root{
    --backgroundcolor : #25283D;
    --yellow : #FCA311;
    --red: #DE3C4B;
    --green: #32936F;
    --grey: #F1E3E4;
    --site-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    padding-top: 25px;
    background-color: var(--backgroundcolor);
    list-style: none;
    color: var(--grey);
    font-family: var(--site-font);
}

a {
    text-decoration: none;
    color: var(--grey);
    transition: 400ms;
}

a:hover {
    color: var(--yellow);
}

img:hover {
    opacity: 80%;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.logo a img{
    width: 250px;
    height: 180px;
}

#nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

#navbar-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.nav-item{
    font-family: var(--site-font);
    font-size: 2em;
    color: var(--grey);
}

#navbar-list ul a:hover{
    font-size: 2.1em;
    color: var(--yellow);
    transition: 300ms;
}


.banner-homepage {
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)100%), url(./images/homepage-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--backgroundcolor);
}

/*******************************ABOUT US*****************************************/
.banner-aboutus{
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)100%), url(./images/AboutUs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--backgroundcolor);
}

.about-us{
    margin: 30px 130px;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

.highlight {
    margin: 50px 130px;
    text-align: center;
    font-size: 30px;
}

.highlight-smaller {
    margin: 50px 130px;
    text-align: center;
    font-size: 20px;
}

.txt-img {
    display: flex;
    flex-direction: row;
}

.txt-img img{
    height: 200px;
    width: 200px;
}

.employees {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.employee {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.employee img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.banner-shop{

}

.banner-contactus {

}
/*************************************PICTURES**********************************/
.banner-pictures {
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)100%), url(./images/pictures.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--backgroundcolor);
}

.gallery {
    margin: 30px 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.gallery img {
    width: 400px;
    height: 250px;
    margin: 5px;
}

.hidden { 
    display: none;
}

#zoom {
    width: 800px;
    height: 500px;
    transition: 400ms;
}

/******************************LOGIN*****************************************/

#banner-login {
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)100%), url(./images/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--backgroundcolor);
}


#form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.login-option {
    margin: 25px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    display: none;
}

.bellow-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form input {
    width: 300px;
}

.change-login{
    display: none;
}

/***************************************************************************/
.banner-text {
    padding: 80px;
    font-family: var(--site-font);
    font-weight: 100;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.banner-text-pages {
    font-family: var(--site-font);
    font-weight: 100;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.sections-title {
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
}

.articles-homepage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 0 30px 0;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-img img{
    width: 250px;
    height: 250px;
}

.articles-homepage img:hover {
    opacity: 70%;
    transition: 300ms;
}

.footer-green {
    background-color: var(--green);
}

.footer-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerblock a {
    margin: 7px;
}

.footer-inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    margin: 7px;
}

.socials img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
}


.logo-footer img{
    width: 200px;
    height: 200px;
}

input {
    margin-top: 10px;
    background-color: var(--yellow);
    border-radius: 12px;
    height: 38px;
    border: none;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: var(--red);
    font-family: var(--site-font);
    color: var(--grey);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.footerblock form {
    padding-bottom: 20px;
}